Package: r-circuits
Version: 0.4.1
Section: electronics
Priority: extra
Architecture: i386
Installed-Size: 5.7 MB
Maintainer: Pozsar Zsolt <pozsarzs@gmail.com>
Depends: libc6, libglib2.0-0, libgtk2.0-0
Description: R-circuit calculator
 Licenc: EUPL v1.1

